* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 1440px ;
    margin: 0 auto;
}

header {
    width: 1200px;
    margin: 0 auto;
    line-height: 48px;
    position: sticky;
    top: 0;
    background-color: white;
    padding-bottom: 10px;
    
}
main {
    width: 785px;
    background-image: url(bg-picture/bg-picture.png);
    background-repeat: no-repeat;
    background-position: 245px 80px;
    line-height: 48px;
    background-size: 630px;

}
nav {
    display: flex;
    justify-content: space-between;
    margin-top: 13px;
}

ul {
    display: flex;
    list-style: none;
    text-transform: uppercase;
    align-items: center;
    gap: 10px;
}

ul a {
    text-decoration: none;
    color: black;
}

ul a:hover{
    text-decoration: underline;
}

.li__gap{
    margin-right: 5px;
}

.react__list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-transform: none;
    align-items: baseline;
}

.sans__regular {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 28px;
}

h2 {
    font-family: "Francois One", sans-serif;
    font-weight: 400;
    font-size: 36px;
    text-transform: uppercase;
    margin: 70px 0 40px 0;
    letter-spacing: 1.5px;
    line-height: 48px;
}

sup {
    font-family: "Farro", sans-serif;
    font-weight: 300;
    font-size: 24px;
    text-transform: capitalize;
}

.staatliches {
    font-family: "Staatliches", sans-serif;
    font-weight: 400;
    font-size: 22px;
}

.tourney {
    font-family: "Tourney", sans-serif;
    font-weight: 600;
    font-size: 22px;
    margin-right: 50px;
}

.handling_paragraf {
    margin-bottom: 40px;
}
.bgc__gray {
    background-color: rgb(217, 217, 217);
}

.container{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 90px;
}

aside {
    width: 385px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 70px;
    position: sticky;
    top: 80px;
    margin-top: 85px;
}

aside h2 {
    margin: 0;
}
aside h2 hr {
    margin-top: 10px;
}

main h2 hr {
    width: 100px;
    height: 8px;
    background: black;
    margin-bottom: 20px;
}
