* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 1440px;
    margin: 0 auto;
}

header {
    width: 1200px;
    margin: 0 auto;
    line-height: 48px;
    position: sticky;
    top: 0;

}

nav {
    display: flex;
    justify-content: space-between;
    margin-top: 13px;
}

ul {
    display: flex;
    list-style: none;
    text-transform: uppercase;
    align-items: center;
    gap: 10px;
}

ul a {
    text-decoration: none;
    color: black;
}

ul a:hover {
    text-decoration: underline;
}

.li__gap {
    margin-right: 5px;
}

.sans__regular {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 28px;
}

.staatliches {
    font-family: "Staatliches", sans-serif;
    font-weight: 400;
    font-size: 22px;
}

.tourney {
    font-family: "Tourney", sans-serif;
    font-weight: 600;
    font-size: 22px;
    margin-right: 50px;
}

.heading {
    display: flex;
    align-items: end;
    gap: 20px;
    margin: 70px 0 40px 120px;
}

h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 1.5px;
    display: inline;
}

.heading hr {
    width: 100px;
    height: 8px;
    background: black;
    margin-bottom: 20px;
}

.grid {
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-left: 120px;
    border-top: 1px solid #c9c8c8;
    border-bottom: 1px solid #c9c8c8;
    padding: 20px;
}

.flip-card {
    height: 180px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    transition: transform 1s ease;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    backface-visibility: hidden;
}

.flip-card-back {
    transform: rotateY(180deg);
}